/* body {
  margin: 0;
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button {
  color: white;
  background-color: rgb(36, 125, 155);
  border: 3px solid rgb(36, 125, 155);
  border-radius: 3px;
}


.main {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.hidden {
  display: none;
}