body {
  margin: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   color: lightgray;
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button {
  color: white;
  background-color: rgba(0,212,255,1);
  border: none;
  border-radius: 3px;
}


.main {
  width: 100vw;
  height: 100vh;
  background-color: rgba(173, 216, 230, 0.103);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.hidden {
  display: none;
}

